#landing-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-modes {
    display: flex;
    flex-direction: column;
}

#game-modes h1 {
    font-size: 70px;
    text-shadow: 3px 3px black;
}

#game-modes button {
    padding: 10px 40px;
    margin-top: 70px;
}