#landing-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-modes {
    display: flex;
    flex-direction: column;
}

#game-modes h1 {
    color: #e91d63;
    font-size: 50px;
    margin-bottom: 100px;
}

#game-modes button {
    width: 50%;
}