#setup-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

#setup-screen > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#setup-screen #manipulate-players {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#setup-screen #manipulate-players button {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    background: white;
}

#setup-screen #manipulate-players button:hover {
    color: #e91d63;
    transform: scale(1.5);
}

#manipulate-players h1 {
    font-size: 2em;
}

#players {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.player-setup {
    -moz-animation: playerFadeIn 2s; /* Firefox */
    -webkit-animation: playerFadeIn 2s; /* Safari and Chrome */
    -o-animation: playerFadeIn 2s; /* Opera */
    display: flex;
    transition: all 0.3s ease-in-out;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background: white;
    -webkit-box-shadow: 10px 10px 4px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 4px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 4px -4px rgba(0, 0, 0, 0.5);
}

.player-setup:hover {
    -webkit-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.75);
}

.player-setup-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-setup-row input[type=text] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}

@keyframes playerFadeIn {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/** LOADING ANIMATION **/

.loading {
    margin: 40px;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading div {
    position: absolute;
    border: 4px solid #e91d63;
    opacity: 1;
    border-radius: 50%;
    animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes loading {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}